<h3>Search 1</h3>
<form method="get" asp-controller="demo3" asp-action="search1">
    Keyword <input type="text" name="keyword" />
    <br />
    <input type="submit" value="Search" />
</form>

<h3>Search 2</h3>
<form method="get" asp-controller="demo3" asp-action="search2">
    Min <input type="text" name="min" />
    <br />
    Max <input type="text" name="max" />
    <br />
    <input type="submit" value="Search" />
</form>